:root {
  --main-color: #3a9a39;
  --grey-color: #ddd;
  --text-color: #212121;
  --active-color: #228be6;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

.container {
  width: 100%;
}

header {
  display: flex;
}

header > p {
  flex: 1 1 100%;
  text-align: center;
  border: 1px solid red;
}

.days {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.days > div {
  flex: 1 1 14%;
}

.week-day {
  border-top: 1px solid #e9ecef;
  border-left: 1px solid #e9ecef;
  height: 8rem;
  padding: 0.5rem 0;
  font-size: 12px;
  position: relative;
}

.week-day.past::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1000;
  pointer-events: none;
}

.slot-6 {
  border-right: 1px solid #e9ecef;
}

.last-row {
  border-bottom: 1px solid #e9ecef;
}

.week-day-name {
  display: none;
}

.week-day-name.row-0 {
  display: block;
  padding: 0.5em;
}

.week-day-number {
  padding: 0 0.5em;
  margin-bottom: 0.5em;
}

.week-day-number h2 {
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  position: relative;
  margin: 0;
}

.week-day-number.active h2 {
  color: white;
}

.week-day-number.active h2:before {
  content: "";
  background-color: var(--active-color);
  position: absolute;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;
  z-index: -1;
  border-radius: 50%;
}

.event {
  height: 20px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.event.normal {
  margin: 2px 2px 2px 2px;
  padding: 0.2em;
}

.event.normal span {
  margin-left: 1.5em;
  margin-right: 2px;
}

.event.normal::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--main-color);
  z-index: 10;
}

.event.day {
  background-color: var(--main-color);
  color: white;
  margin: 2px;
  padding: 0.2em;
}

.event.multiday {
  background-color: var(--main-color);
  color: white;
  margin: 0;
  padding: 0.2em;
  position: absolute;
  width: 100%;
}

.event.next {
  width: calc(100% + 1px);
  z-index: 20;
}

.week-day.past .event.next {
  width: 100%;
}

.multiday-container {
  position: relative;
  top: 1px;
}

.event-container {
  position: relative;
}

.rest-container {
  position: absolute;
  width: 100%;
}

.control-header {
  display: flex;
  align-items: center;
  padding: 1em;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: space-around;
  flex: 0 0 80px;
}

.control-button {
  position: relative;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-button:hover {
  cursor: pointer;
}

.control-button:hover::before {
  content: "";
  background-color: #f1f3f5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: -1;
}

.button {
  color: var(--text-color);
  border: none;
  background-color: #f1f3f5;
  padding: 0.5em 1em;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 0.2em;
  outline: none;
  cursor: pointer;
}

.button.small {
  text-transform: none;
}

.current {
  flex: 0 1 180px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2000;
}

.overlay-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 450px;
  height: 50%;
  max-height: 270px;
  transform: translate(-50%, -50%);
  z-index: 3000;
  background-color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
}

.overlay-headline {
  flex: 1 1 45%;
  display: flex;
  align-items: flex-end;
  padding: 1em;
  background-color: var(--main-color);
}

.overlay-headline h2 {
  margin: 0;
  font-weight: 400;
  font-size: 1.3rem;
}

.overlay-content {
  flex: 1 1 55%;
  padding: 1em;
}

.close-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
}

.overlay-date {
  margin: 0;
}
.overlay-time {
  margin: 0.5em 0 0 0;
  font-size: 14px;
  color: #868e96;
}

.overlay-description {
  line-height: 1.3;
  font-size: 14px;
}

.list-item {
  display: flex;
  border-bottom: 1px solid var(--grey-color);
  padding: 0.5em;
  font-size: 14px;
}

.list-item-day {
  flex: 0 0 70px;
}

.list-item-day-part1 {
  margin: 0;
}

.list-item-day-part2 {
  margin: 0;
  font-size: 12px;
}

.list-item-events {
  flex: 1 1 100%;
}

.list-item-event {
  display: flex;
  margin-bottom: 0.5em;
}

.list-item-event-time {
  flex: 0 0 100px;
}

.list-item-event-content {
  flex: 1 1;
}

.list-item-event-content h2 {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.list-item-event-content p {
  font-size: 12px;
  line-height: 1.3;
  margin: 0;
}
